 // Paleta de colores pagina 
 $header-color: #c70d39;
 $hover-color: #900c3f;
 //Paleta modo oscuro
 // $darkmode-background: #1c1f2b;
 // $darkmode-card: #2d3143;
 // $darkmode-border: #f4f4f5;
 //Paleta Google
 $darkmode-background: #202124;
 $darkmode-card: #424242;
 $darkmode-border: #3c4043;
 $darkmode-buscador: #303134;
 .nav-container {
     margin-right: 25px;
     margin-left: 25px;
 }
 
 .nav-text {
     color: white !important;
 }
 
 .nav-col {
     padding: 0;
 }
 
 nav {
     background-color: $header-color;
     a:hover {
         background-color: $hover-color;
         transition: 0.7s;
     }
 }
 
 .darkMode {
     filter: invert(100%) sepia(1%) saturate(3614%) hue-rotate(319deg) brightness(116%) contrast(100%);
 }
 
 body {
     overflow-y: scroll;
     height: 100vh;
     display: flex;
     flex-direction: column;
 }
 
 header {
     min-height: 50px;
     background: lightcyan;
 }
 
 footer {
     margin-top: auto !important;
     bottom: 0;
     background: $hover-color;
     color: white;
 }
 
 .row-footer {
     width: 100%;
     height: 60px;
 }
 
 .nav-text {
     border-radius: 0.25rem;
 }
 
 .errorSingup {
     filter: invert(18%) sepia(16%) saturate(7361%) hue-rotate(330deg) brightness(97%) contrast(97%);
 }