 <div class="container-fluid">
    <div class="row">
        <div class="col-10 col-lg-8 mx-auto">
            <div class="card mt-5 text-center">
                <div class="card-header ">
                     <h3>Backoffice</h3>                  
                </div>
                    <ul class="list-group list-group-flush">
                         <a href="/backoffice/toCheck"><li class="list-group-item">Revisar recetas</li></a>
                         <a href="/backoffice/add"><li class="list-group-item">Añadir recetas</li></a>
                      </ul> 
                </div>
            </div>
        </div>
    </div>
</div>