    <div class="container-fluid">
        <div class="row mt-2 mb-2">
            <div class="d-flex justify-content-center text-center">
                <div class="col-8">
                    <h1>Crea tu nueva comida</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center text-center">
                <div class="col-12 col-lg-6">Bienvenido a What The Food. Para buscar una receta es muy sencillo, introduzca alimentos que quiere que tenga su receta. Nosotros la buscamos por ti. Recuerda que también puedes usar los filtros <i>(hacinedo clic en el boton de filtros)</i> para tener una búsqueda mas personalizada.
                    {{#unless user}} ¿Crees que falta alguna receta? Inicia sesion y proponla. Asi nos ayudaras a que tengamos mas resultados. Con una cuenta tambien puede guardarse recetas en la pestaña de favoritos {{/unless}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-2 mb-2">
            <div class="d-flex justify-content-center">
                <div class="col-11 col-lg-7">
                    <form>
                        <div class="text-center">
                            <label for="cercador" class="form-label">Busca aquí</label>
                        </div>
                         <div class="container-fluid"> 
                             <div class="row mb-2"> 
                                <div class="col-10" id="buscador"> 
                                    <div class="input-group mb-3 inputGroup">
                                        {{!-- <input type="text" class="form-control text-buscar rounded-pill buscador" id="buscador"> --}}
                                         <select id="ingredient" class='mi-selector rounded-pill' name='ingredient' multiple='multiple'>
                                        {{#each ingredients}}
                                            <option value="{{this.id_ingredient}}">{{this.nom_ingredient}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-2" id="boton" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filtros para búsqueda avanzada"> 
                                <button class="btn btn-outline-danger rounded-pill button-buscar" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOpcion" aria-expanded="false" aria-controls="collapseOpcion" id="opcions">Filtros <img id="opcions-row" src="index/img/caret-down-fill.svg"></button>
                            </div>
                        </div>
                        </div>
                        <div class="collapse " id="collapseOpcion">
                            <div class="card card-body ">  
                                 <div class="row d-flex justify-content-center">
                                    <div class="col-12">
                                        <p class="text-center"><b>Intolerancias</b></p>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-3  form-check">
                                        <input class="form-check-input" type="checkbox" value="vegetariano" id="vegetariano">
                                        <label class="form-check-label" for="vegetariano">  Vegetariano</label>
                                    </div>
                                    <div class="col-3 form-check">
                                        <input class="form-check-input" type="checkbox" value="gluten" id="gluten">
                                        <label class="form-check-label" for="gluten">Sin gluten</label>
                                    </div>
                                    <div class="col-3 form-check">
                                        <input class="form-check-input" type="checkbox" value="alcohol" id="alcohol">
                                        <label class="form-check-label" for="alcohol">Sin alcohol</label>
                                    </div>
                                    <div class="col-3  form-check">
                                        <input class="form-check-input" type="checkbox" value="lactosa" id="lactosa">
                                        <label class="form-check-label" for="lactosa">Sin Lactosa</label>
                                    </div>
                                 </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12">
                                        <p class="text-center"><b>Continente</b></p>
                                    </div>
                                </div>                                
                                <div class="row d-flex justify-content-center">
                                     <div class="col-8 col-md-6 form-check">
                                        <select class="form-select"  id="continente">
                                            <option value="0" selected>Todos los continentes</option>
                                            <option value="1">Europa</option>
                                            <option value="2">Africa</option>
                                            <option value="3">Asia</option>
                                            <option value="4">America</option>
                                            <option value="5">Ocenia</option>
                                        </select>
                                     </div>
                                    </div>
                                    <div class="container-fluid mb-2">
                                <div class="row d-flex justify-content-center">
                                    <p class="text-center"><b>Tiempo de preparacion maximo</b></p>
                                    <div class="col-4 col-md-2">
                                        <input type="number" name="hora" id="hora" class="form-control" required  min="1">
                                    </div>
                                    :
                                    <div class="col-4 col-md-2">
                                        <input type="number" name="mins" id="mins" class="form-control" required max="59" min="1">
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <p class="text-center"><b>Que no contenga</b></p>
                                    <div class="col-8 offset-1 noBuscar">
                                      <div class="input-group mb-3 inputGroup">
                                        {{!-- <input type="text" class="form-control text-buscar rounded-pill buscador" id="buscador"> --}}
                                         <select id="noBuscar" class='mi-selector rounded-pill' name='noBuscar' multiple='multiple'>
                                        {{#each ingredients}}
                                            <option value="{{this.id_ingredient}}">{{this.nom_ingredient}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-2" id="clear" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Filtros para búsqueda avanzada"> 
                                <button class="btn btn-outline-danger rounded-pill button-buscar" type="button">❌</button>
                            </div>
                                    </div>
                                </div>
                            </div> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-evenly" id="resultados"></div>
        <div id="pagination"></div>
    </div>
</div>