<div class="mb-5"></div>
<footer class="container-fluid">
        <div class="row row-footer">
            <div class="col-12 ">
             Alberto Bermejo Martínez. Projecte de final de DAW2. Mail albertobermejo8@gmail.com
            </div>
        </div>
    </footer>