 <nav class="navbar fixed-top navbar-expand navbar-light ">
    <div class="container-fluid nav-container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-text nav-link" id="inicio" href="/">Inicio</a>
                    </li>
                  {{#unless user}}
                    <li>
                      <a class="nav-link nav-text" id="signin" href="/signin">Sign in</a>
                    </li>
                    <li>
                      <a class="btn btn-dark" type="button" id="signup" href="/signup">Sign up</a>
                    </li>
                  {{else}}
                    {{!-- <li>
                      <a class="nav-link nav-text d-md-none" href="/recipe/add">Proponer receta</a>
                    </li>
                    <li>
                      <a class="nav-link nav-text  d-md-none" href="/favorites">Favoritos</a>
                    </li>
                    <li>
                      <a class="nav-link nav-text   d-md-none" href="/changePassword">Cambiar contraseña</a>
                    </li>
                    <li>
                      <a class="nav-link nav-text d-none  d-md-none" href="/signin/logout">Cerrar sesion</a>
                    </li> --}}
                    <li class="nav-item">
                        <div class="dropdown dropstart">
                            <a class="nav-link nav-text dropdownMenuButton1"   data-bs-toggle="dropdown" title="Opciones de usuario"  aria-expanded="false"><input class="darkMode" type="image" src="/img/person-circle.svg"/></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/recipe/add"><input class="dropimg" type="image" src="/img/plus-circle-fill.svg"/> Proponer receta</a></li>
                                <li><a class="dropdown-item" href="/favorites"><input class="dropimg" type="image" src="/img/star-fill.svg"/> Favoritos</a></li>
                                <li><a class="dropdown-item" href="/changePassword"><input class="dropimg" type="image" src="/img/gear-fill.svg"/> Cambiar contraseña</a></li>
                                <li><a class="dropdown-item" href="/signin/logout"><input class="dropimg" type="image" src="/img/box-arrow-left.svg"/> Cerrar sesion</a></li>
                            </ul>
                        </div>
                    </li>  
                  {{/unless}}
                   <li class="nav-item" title="Modo oscuro/claro">
                      <a class="nav-link nav-text"><input id="darkMode" class="darkMode" type="image" src="/index/img/moon-stars-fill.svg" /></a>
                  </li>
              </ul>
          </div>
      </div>
</nav>
