  <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid nav-container">
            <a class="navbar-brand" href="#">
                <p style="color: white;">LOGO </p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-text nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text" href="#">Conócenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text"><input id="darkMode" type="image" src="index/img/moon-stars-fill.svg" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>