.button-buscar {
  height: 100% !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.text-buscar {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.card-img-top {
  height: 250px;
  margin-bottom: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

#opcions-row {
  -webkit-filter: invert(24%) sepia(31%) saturate(7034%) hue-rotate(341deg) brightness(95%) contrast(81%);
          filter: invert(24%) sepia(31%) saturate(7034%) hue-rotate(341deg) brightness(95%) contrast(81%);
}

body {
  background-color: #FFFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background-color: #202124;
  color: #FFFF;
}

.card {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .card {
  background-color: #424242;
  color: #FFFF;
  border-color: #3c4043;
}

.form-check-input:checked {
  background-color: #c70d39;
  border-color: #900c3f;
}

.buscador {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .buscador {
  color: white;
  border-color: #3c4043;
  background-color: #303134;
}

.buscador:focus {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .buscador:focus {
  color: white;
  border-color: #3c4043;
  background-color: #303134;
}

.btn-outline-danger:hover {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .btn-outline-danger:hover {
  color: #202124;
}

#inicio {
  font-weight: bold;
}

.select2-container {
  width: 100% !important;
}

.select2-results__option[aria-selected] {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .select2-results__option[aria-selected] {
  background-color: #202124;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  color: black;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 50rem !important;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 100% !important;
}

body.dark .select2-container--default .select2-selection--multiple {
  color: white !important;
  border-color: #3c4043 !important;
  background-color: #303134 !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  color: #202124;
}

body.dark .select2-container--default .select2-search--inline .select2-search__field {
  color: white !important;
}

#buscador {
  padding-right: 0px;
}

#boton {
  padding-left: 0px;
}

.inputGroup {
  height: 100% !important;
}

body.dark .select2-results__option {
  color: white !important;
  background-color: #303134 !important;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  height: 100%;
}

.bg-purple {
  background-color: blueviolet;
}

.badge {
  margin-right: 2px;
}

#pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pagination button {
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #c70d39;
  margin: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
}

#pagination button:hover {
  background-color: #900c3f;
}
/*# sourceMappingURL=style.css.map */