    // Paleta de colores pagina 
    $header-color: #c70d39;
    $hover-color: #900c3f;
    //Paleta modo oscuro
    // $darkmode-background: #1c1f2b;
    // $darkmode-card: #2d3143;
    // $darkmode-border: #f4f4f5;
    //Paleta Google
    $darkmode-background: #202124;
    $darkmode-card: #424242;
    $darkmode-border: #3c4043;
    $darkmode-buscador: #303134;
    .button-buscar {
        height: 100% !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    
    .text-buscar {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    
    .card-img-top {
        height: 250px;
        margin-bottom: 20px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    
    #opcions-row {
        filter: invert(24%) sepia(31%) saturate(7034%) hue-rotate(341deg) brightness(95%) contrast(81%);
    }
    
    body {
        background-color: #FFFF;
        transition: .3s ease all;
        &.dark {
            background-color: $darkmode-background;
            color: #FFFF;
        }
    }
    
    .card {
        transition: .3s ease all;
        body.dark & {
            background-color: $darkmode-card;
            color: #FFFF;
            border-color: $darkmode-border;
        }
    }
    
    .form-check-input:checked {
        background-color: $header-color;
        border-color: $hover-color;
    }
    
    .buscador {
        transition: .3s ease all;
        body.dark & {
            color: white;
            border-color: $darkmode-border;
            background-color: $darkmode-buscador;
        }
    }
    
    .buscador:focus {
        transition: .3s ease all;
        body.dark & {
            color: white;
            border-color: $darkmode-border;
            background-color: $darkmode-buscador;
        }
    }
    
    .btn-outline-danger:hover {
        transition: .3s ease all;
        body.dark & {
            color: $darkmode-background;
        }
    }
    
    #inicio {
        font-weight: bold;
    }
    
    .select2-container {
        width: 100% !important;
    }
    
    .select2-results__option[aria-selected] {
        transition: .3s ease all;
        body.dark & {
            background-color: $darkmode-background;
        }
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        color: black;
    }
    
    .select2-container--default .select2-selection--multiple {
        border-radius: 50rem!important;
        transition: .3s ease all;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        height: 100% !important;
        body.dark & {
            color: white !important;
            border-color: $darkmode-border !important;
            background-color: $darkmode-buscador !important;
        }
    }
    
    .select2-container--default .select2-search--inline .select2-search__field {
        color: #202124;
        body.dark & {
            color: white !important;
        }
    }
    
    #buscador {
        padding-right: 0px;
    }
    
    #boton {
        padding-left: 0px;
    }
    
    .inputGroup {
        height: 100% !important;
    }
    
    .select2-results__option {
        body.dark & {
            color: white !important;
            background-color: $darkmode-buscador !important;
        }
    }
    
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
    
    .card {
        height: 100%;
    }
    
    .bg-purple {
        background-color: blueviolet
    }
    
    .badge {
        margin-right: 2px
    }
    
    #pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        button {
            width: 50px;
            height: 50px;
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: $header-color;
            margin: 5px;
            transition: 0.4s;
            color: white;
            &:hover {
                background-color: $hover-color;
            }
        }
    }