<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/{{src}}/styles/style.css">
    {{!-- CSS PARA EL MAIN.HBS  --}}
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/jQueryMin341.js"></script>
    <script type="text/javascript" src="/{{src}}/js/script.js"></script>
    <script type="text/javascript" src="/js/mainScript.js"></script>
    <script src="/bootsrap/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What the Food</title>
</head>
<body>

{{> nav}} 

{{> message}}

{{{body}}}

{{> arrow}}

{{> footer}}
</body>
</html>
 